table {
  border-collapse: collapse;
  text-align: center;
  margin: 100px auto 0;
  width: 600px;
}
th {
  background-color: deepskyblue;
  color: white;
  font: 20px '微软雅黑'
}
td, th {
  /*width: 200px;*/
  height: 40px;
}
audio {
  position: absolute;
  top: 50px;
  left: 50%;
  margin-left: -150px;
}